# Django
DEBUG=True
ENVIRONMENT=dev
ALLOWED_HOSTS=dev-api.example.com
SECRET_KEY=replace-me

# Database
DATABASE_NAME=idbook_dev
DATABASE_USER=idbook_dev_user
DATABASE_PASSWORD=replace-me
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

# Celery broker
CELERY_BROKER_URL=redis://127.0.0.1:6379/1

# Common URLs
BASE_URL=http://dev-api.example.com
FRONTEND_URL=http://dev-admin.example.com
INV_FE_URL=http://dev-admin.example.com
