# Django
DEBUG=False
ENVIRONMENT=production
ALLOWED_HOSTS=api.example.com
SECRET_KEY=replace-me

# Database
DATABASE_NAME=idbook_prod
DATABASE_USER=idbook_prod_user
DATABASE_PASSWORD=replace-me
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

# Celery broker
CELERY_BROKER_URL=redis://127.0.0.1:6379/2

# Common URLs
BASE_URL=https://api.example.com
FRONTEND_URL=https://admin.example.com
INV_FE_URL=https://admin.example.com
